# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# Testing
.pytest_cache/

# Logs
*.log

# Checkpoints
checkpoints/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Compiled Python modules
*.pyc

# Snapshots
snapshots/ 